 @import "../../../../assets/sass/index.scss";

.nav-primary{
	width: 50%;
	
	ul{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li{
			color: aliceblue;
			text-decoration: none;
			Link{
				text-decoration: none;
				outline: none;
				color: aliceblue;
			}
			
		}
		
	}

}
