 @import "../../../../assets/sass/index.scss";

.nav-primary{	
	ul{	display: flex;
		flex-direction: row;		
		li{				
			text-align: center;
			margin: 10px;				
		}		
	}
}
a:-webkit-any-link {
	text-decoration: none;
	color: inherit;
      }