// COLORS
$primary-color: #f5f2ed;
$secondary-color: #959794;
$third-color: #b891d3;
$fourth-color: #49494c;
$fifth-color: rgb(83, 40, 126);

// SIZES
$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 15px;
$l-spacing: 20px;
$xl-spacing:60px;
$xxl-spacing:80px;
$wide-cover: 100%;

